{% extends "base/base.html" %}
{% block titulo %}
  Nuevo Departamento
{%endblock titulo%}
{% block contenido %}
    <div class="card">
        <div class="card-header">
          Nuevo Departamento
        </div>
        <div class="card-body">
        
    <form method="POST">
            {% csrf_token %}
            
            <div class="form-group row">
                <div class="form-group col-sm-12">
                    <label for="name">Codigo de departamento: </label>
                     <div class="input-group">
                       <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.DeptoId }} 
                    </div>
                </div>
             
        
                <div class="form-group col-sm-12">
                    <label for="name">Nombre de departamento: </label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user fa-lg text-info" aria-hidden="true"></i></div>
                            {{ form.DeptoNombre }}
                    </div>
                </div>
            </div>




            <button type="submit" value="Submit" class="btn btn-success btn-lg btn-block">Guardar</button>
        </form>
    </div>
</div>     
{% endblock contenido %}